*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body{

    background-color:#1fa19b;
    background-position: center;
    background-size: 100%;
    font-weight: lighter;

}

form{

    height: auto;
    width: 500px;
    padding-top: 20px;
    background-color: #59C0C3;
    box-shadow: 0px 5px 27px rgb(19, 19, 19);
    border: 1px;
    border-style: solid;
    border-color: #3490AC;
    border-radius: 20px;
    color: rgb( 027 , 000 , 009 );
    margin: auto;
    text-align: center;
    margin-top: 110px;

}

form label{

    font-size: 25px;

}

form input{

    width: 80%;
    height: 40px;
    margin: 20px;
    padding: 10px;
    color: rgb( 027 , 000 , 009 );
    border: 1px;
    border-style: solid;
    border-color: #3490AC;
    border-radius: 10px;
    background-color:#59C0C3;

}

form input:hover{

    border-color: #3490AC;

}

form textarea{

    border: 1px;
    border-style: solid;
    border-color: #3490AC;
    border-radius: 10px;
    background-color:#59C0C3;
    color: rgb( 027 , 000 , 009 );
    margin-top: 25px;

}

form textarea:hover{

    border-color: #3490AC;

}

form button{

    height: 40px;
    width: 30%;
    background: #034570;
    color: white;
    border: none; 
    font-size: 20px;
    font-weight: bold; 
    border-radius: 5px;
    margin: 10px;

}

form button:hover{

    background: #2e6386;

}