*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{

    background: #292929;
    z-index: 0;
    
}    
a{

    color: white;
    text-decoration:none ;
    
}
.menu-nav{

    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5px;
    z-index: 1;
    position: fixed;
    top: 0;
    height: 4.4rem;

}
.menu-list{

    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;

}
.openmenu{

    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    
}
nav .menu-list .closemenu, .icons i{

    font-size: 2rem;
    display: none;
    cursor: pointer;

}
.sub-nav{

    display: flex;
    background: #ae0000;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 4.4rem;
    
}
.espacamento{

    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;

}
.fa-facebook:hover{

    color: gray;

}

.fa-instagram:hover{

    color: gray;

}

.fa-twitter:hover{

    color: gray;

}

.fa-github:hover{

    color: gray;

}
.titulo{

    margin-top: 5px;
    width: 180px;
    justify-content: center;
    align-items: center;

}

@media (max-width: 700px) {

.menu-nav{

    display: flex;
    background: #0020699e;
    width: 100%;
    padding: 5px;
    z-index: 1;
    position: fixed;
    top: 0;
    
}
.menu-list{

    height: 80vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: top ease 1s;
    display: none;
    width: 100%;

}
.openmenu{

    display: block;

}

.closemenu{

    display: block;
    position: absolute;
    top: 20px;
    right: 20px;

}

.titulo{

    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.brusqueta, .logo2, .carousel, .sub-nav, .cidade, .cinema, .btn{

    display: none;

}

}