*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{

background: red;

}
.logo{

    margin: 5px;
    width: 180px;

}
a{

color: white;

}
.menu-nav{

    display: flex;
    background: #002069;
    width: 100%;
    padding: 10px;

}

.menu-list{

    display: flex;

}

.alinhar{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav div select{
    height: 30px;
}